[Unit]
Description=Feedmachine Discord Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/pi/Scripts/feedmachine/start_feedmachine.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

